.roww {
  display: flex;
}
.col-1a {
  width: 6%;
}
.col-11b {
  width: 94%;
}
.tab-bar-menu-biboo {
}
.tab-bar-menu-biboo .logo-biboo {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  margin-bottom: 51px;
}
.tab-bar-menu-biboo .logo-biboo img {
  width: 75%;
}
.item-tab-bar-menu {
  margin: 0px;
  padding: 0px;
}
.tab-bar-menu-biboo > .item-tab-bar-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tab-bar-menu-biboo > .item-tab-bar-menu > li {
  list-style: none;
  margin-bottom: 50px;
}
/* .tab-bar-menu-biboo>.item-tab-bar-menu>li>a>img{
    width: 30px;
} */
.tab-bar-menu-biboo > .cover-img-tab-bar-menu > img {
  width: 600px;
}
.listen-to-read-books {
  background-image: url("/img/Rectangle.png");
  background-repeat: no-repeat;
}
.listen-to-read-books .header-listen-to-read-books {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 95%;
  padding-top: 70px;
  padding-bottom: 40px;
}
.listen-to-read-books .header-listen-to-read-books .right-icon {
  display: flex;
  align-items: center;
}
.listen-to-read-books .header-listen-to-read-books .right-icon a {
  margin: 0px 15px;
}
.listen-to-read-books
  .header-listen-to-read-books
  .right-icon
  .cart-right-icon {
  padding: 10px;
  background: #f7f7fc;
  border-radius: 50%;
}
.listen-to-read-books
  .header-listen-to-read-books
  .right-icon
  .bell-right-icon {
  padding: 7px 9px;
  background: #f7f7fc;
  border-radius: 50%;
}
.book-details-biboo {
  margin: auto;
  display: flex;
  width: 80%;
  padding-bottom: 60px;
}
.book-details-biboo .left-book-details-biboo {
  width: 25%;
  margin-right: 60px;
}
/* .book-details-biboo .left-book-details-biboo>img {
    width: 385.94px;
    height: 417px;
} */
.book-details-biboo .right-book-details-biboo {
  width: 75%;
}
.book-details-biboo .right-book-details-biboo .title-book-details-biboo {
  font-family: SVN-Gilroy-Bold;
  font-style: normal;
  font-weight: 700;
  font-size: 2.8vw;
  line-height: 110%;
  letter-spacing: 1px;
  color: #262338;
  margin-bottom: 24px;
}
.details-biboo {
  background: #f7f7fc;
}
.book-details-biboo .right-book-details-biboo .author-book-details-biboo {
  font-family: SVN-Gilroy-regular;
  font-style: normal;
  font-weight: 400;
  font-size: 1.7vw;
  line-height: 40px;
  letter-spacing: 1px;
  color: #6e7191;
  margin-bottom: 40px;
}
.items-right-book-details-biboo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.items-right-book-details-biboo .listen-for-free {
  background: #3d40c6;
  font-family: SVN-Gilroy-regular;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 38px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.75px;
  color: #f7f7fc;
  border: none;
  width: 327px;
  height: 72px;
  border-radius: 96px;
}
.items-right-book-details-biboo .proofread {
  background: #00c7ff;
  font-family: SVN-Gilroy-regular;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 38px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.75px;
  color: #f7f7fc;
  border: none;
  width: 240px;
  height: 72px;
  border-radius: 96px;
}
.items-right-book-details-biboo .buy-books {
  border: 3.6px solid #ff4c4d;
  border-radius: 172.8px;
  font-family: SVN-Gilroy-regular;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.75px;
  color: #ff4c4d;
  background: none;
  width: 275px;
  height: 72px;
}
.ratings-listen-to-read-books {
  display: flex;
  justify-content: center;
  width: 75%;
}
.ratings-listen-to-read-books > div {
  margin: 0px 5px;
}
.nav-tab-details-biboo {
  display: flex;
  width: 78%;
  margin: auto;
}
.nav-tab-details-biboo .introduce-nav-tab-details-biboo {
  margin-right: 62px;
}
.nav-tab-details-biboo .introduce-nav-tab-details-biboo p,
.nav-tab-details-biboo .evaluate-nav-tab-details-biboo p {
  font-family: SVN-Gilroy-Bold;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  letter-spacing: 1px;
  color: #262338;
}
.underline-introduce-nav-tab-details-biboo {
  width: 190px;
  height: 8px;
  background: #3d40c6;
  border-radius: 4px;
  margin-top: 10px;
}
.book-details-details-biboo {
  width: 78%;
  margin: auto;
  padding-top: 50px;
}
.book-details-details-biboo .time-books,
.book-details-details-biboo .number-books,
.book-details-details-biboo .Category-books {
  display: flex;
  align-items: center;
  margin-bottom: 55px;
}
.book-details-details-biboo .time-books .title,
.book-details-details-biboo .number-books .title,
.book-details-details-biboo .Category-books .title {
  font-family: SVN-Gilroy-regular;
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 40px;
  letter-spacing: 1px;
  color: #262338;
  width: 15%;
}
.book-details-details-biboo .time-books .text,
.book-details-details-biboo .number-books .text,
.book-details-details-biboo .Category-books .text {
  font-family: SVN-Gilroy-regular;
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
  line-height: 40px;
  letter-spacing: 1px;
  color: #6e7191;
}
.book-details-details-biboo .introduce-book {
  padding-bottom: 0px;
}
.book-details-details-biboo .introduce-book .title {
  font-family: SVN-Gilroy-regular;
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 40px;
  letter-spacing: 1px;
  color: #262338;
  margin-bottom: 40px;
}
.book-details-details-biboo .introduce-book .text {
  font-family: SVN-Gilroy-regular;
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
  line-height: 40px;
  letter-spacing: 1px;
  color: #6e7191;
}
.Table-of-contents {
  width: 78%;
  margin: auto;
}
.accordion {
  --bs-accordion-bg: none;
  --bs-accordion-border-radius: none;
  --bs-accordion-border-width: none;
}
.accordion-item {
  border-bottom: 1px solid #d9dbe9;
}
.accordion-button {
  --bs-accordion-active-color: none;
  --bs-accordion-active-bg: none;
  --bs-accordion-btn-focus-box-shadow: none;
  padding: 60px 0px 30px 0px;
}
.paragraph {
  background: linear-gradient(
    95.08deg,
    rgba(227, 247, 255, 0.4) 2.49%,
    rgba(255, 216, 195, 0.4) 97.19%
  );
  padding: 40px;
  border-radius: 12px;
  margin-bottom: 40px;
}
.accordion-header > .accordion-button {
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 40px;
  letter-spacing: 1px;
  color: #262338;
}
.paragraph > .title {
  font-family: SVN-Gilroy-Bold;
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 40px;
  letter-spacing: 1px;
  color: #4e4b66;
  width: 76%;
  margin-bottom: 64px;
}
.option-paragraph {
  display: flex;
  justify-content: flex-end;
}
.option-paragraph .read-a-book {
  background: none;
  border: 1px solid;
  font-family: SVN-Gilroy-regular;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 34px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.75px;
  color: rgba(0, 199, 255, 1);
  border-radius: 100px;
  width: 200px;
  height: 66px;
}
.option-paragraph .listen-radio {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3d40c6;
  width: 239.25px;
  height: 66px;
  border: none;
  border-radius: 39.6px;
  margin-left: 30px;
}
.option-paragraph .listen-radio span {
  font-family: SVN-Gilroy-regular;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 34px;
  margin-left: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.75px;
  color: #fcfcfc;
}
.paragraph-three > .title {
  font-family: SVN-Gilroy-Bold;
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 40px;
  letter-spacing: 1px;
  color: #a0a3bd;
}
.paragraph-three > .option-paragraph {
  width: 100%;
  justify-content: space-between;
}
.paragraph-three > .option-paragraph > .key-Paragraph {
  display: flex;
  align-items: center;
}
.paragraph-three > .option-paragraph > .key-Paragraph > .text-key-paragraph {
  font-family: SVN-Gilroy-regular;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 34px;
  display: flex;
  align-items: center;
  letter-spacing: 0.75px;
  color: #e60000;
  margin-left: 20px;
}
.paragraph-three > .option-paragraph > .listen-radio {
  width: 436px;
  height: 73px;
  background: #ff4c4d;
}


.paragraph-four > .title {
  font-family: SVN-Gilroy-Bold;
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 40px;
  letter-spacing: 1px;
  color: #D9DBE9;
}
.paragraph-four > .option-paragraph {
  width: 100%;
  justify-content: space-between;
}
.paragraph-four > .option-paragraph > .key-Paragraph {
  display: flex;
  align-items: center;
}
.paragraph-four > .option-paragraph > .key-Paragraph > .text-key-paragraph {
  font-family: SVN-Gilroy-regular;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 34px;
  display: flex;
  align-items: center;
  letter-spacing: 0.75px;
  color: #D9DBE9;
  margin-left: 20px;
}
.paragraph-four > .option-paragraph > .listen-radio {
  width: 436px;
  height: 73px;
  background: #D9DBE9;
}
.paragraph-five>.option-paragraph>.read-a-book {
  border: none;
  color: #6E7191;
}