.box-left-biboo {
  align-items: center;
  text-align: center;
  padding-top: 70px;
}
.box-left-biboo .logo-left-biboo {
  margin: 0px 0px 16px 0px;
}
.box-left-biboo .logo-left-biboo img {
  width: 104.96px;
  height: 103.58px;
}
.box-left-biboo .home-left-biboo,
.box-left-biboo .seach-left-biboo,
.box-left-biboo .category-left-biboo,
.box-left-biboo .individual-left-biboo {
  padding: 15px;
  align-items: center;
  margin-left: 20px;
}
.box-left-biboo .home-left-biboo img,
.box-left-biboo .seach-left-biboo img,
.box-left-biboo .category-left-biboo img,
.box-left-biboo .individual-left-biboo img {
  margin: 0px 40px 0px 10px;
  width: 24px;
  height: 24px;
}
.box-left-biboo .home-left-biboo p,
.box-left-biboo .seach-left-biboo p,
.box-left-biboo .category-left-biboo p,
.box-left-biboo .individual-left-biboo p {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 38px;
  /* identical to box height, or 190% */
  letter-spacing: 0.75px;
  /* Grayscale / Ash */
  color: #eee5fe;
}
.brb-items-left {
  background: #f7f7fc;
  border-radius: 60px 0px 0px 0px;
  padding: 80px 50px 0px 50px;
}
.brb-items-left .nav-tabs {
  border: none;
}
.brb-items-left .nav-tabs .nav-item .nav-link {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 56px;
  letter-spacing: 1px;
  color: #a0a3bd;
  margin: 0px 0px 40px 0px;
  background: none;
  border: none;
}
.brb-search {
  position: relative;
  margin: auto;
  margin-bottom: 50px;
}
.brb-search a {
  position: absolute;
  top: 16px;
  left: 30px;
}
.brb-search input {
  width: 100%;
  font-size: 20px;
  border: none;
  background: #eff0f7;
  border-radius: 16px;
  padding: 15px 80px;
}
.brb-recently-watched {
  background: #fcfcfc;
  box-shadow: 0px 22.2222px 74.0741px rgba(61, 64, 198, 0.08);
  border-radius: 22.2222px;
  padding: 30px 40px;
  margin-bottom: 72px;
}
.right-brb-recently-watched {
  padding: 0px 30px;
}
.watching-right-brb-recently-watched {
  width: 295px;
  height: 56px;
  background: #e5fff2;
  border-radius: 14.8148px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1px;
  color: #00994d;
  flex: none;
  order: 0;
  margin-bottom: 28px;
}
.right-brb-recently-watched .title-right-brb-recently-watched {
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 40px;
  letter-spacing: 1px;
  color: #262338;
  margin-bottom: 28px;
}
.right-brb-recently-watched .text-right-brb-recently-watched p {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1px;
  color: #6e7191;
  margin-bottom: 28px;
}
.index-progress {
  display: flex;
  justify-content: flex-end;
}
.progress-bar {
  background: linear-gradient(95.08deg, #C566FF 2.49%, #5C00B9 97.19%);
  border-radius: 10px;
}
.progress {
  margin-bottom: 28px;
}
.bottom-right-brb-recently-watched {
  display: flex;
  justify-content: flex-end;
}
.bottom-right-brb-recently-watched button {
  border: 1px solid #00994d;
  background-color: #fcfcfc;
  border-radius: 30px;
  padding: 10px 20px;
  color: #00994d;
}
.suggested-book {
  margin-bottom: 0px;
}
.suggested-book .title-suggested-book {
  margin-bottom: 40px;
}
.suggested-book .title-suggested-book p {
  font-weight: 700;
  font-size: 33px;
  line-height: 40px;
  letter-spacing: 1px;
  color: #262338;
}
.box-suggested-book {
  padding-bottom: 70px;
}
.box-suggested-book .items-suggested-book {
  position: relative;
}
.suggested-book .box-suggested-book .items-suggested-book .add-to-cart {
  position: absolute;
  top: 200px;
  border: 2px solid #fcfcfc;
  border-radius: 96px;
  text-align: center;
  padding: 10px 5px;
  margin: 0px 10px;
  cursor: pointer;
  transition: 0.5s;
  display: none;
}
.suggested-book .box-suggested-book .items-suggested-book .add-to-cart:hover {
  background-color: #7f829e;
}
.suggested-book .box-suggested-book .items-suggested-book .add-to-cart > img {
  width: 20px;
}
.suggested-book .box-suggested-book .items-suggested-book .add-to-cart button {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.25px;
  color: #fcfcfc;
  background: none;
  border: none;
}
.suggested-book
  .box-suggested-book
  .items-suggested-book
  .information-items-suggested-book
  .title-book {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1px;
  color: #262338;
  margin-top: 23px;
}
.suggested-book
  .box-suggested-book
  .items-suggested-book
  .information-items-suggested-book
  .author-book {
  font-weight: 600;
  font-size: 17px;
  line-height: 34px;
  letter-spacing: 0.75px;
  color: #a0a3bd;
}
.caroseo-brb-items {
  margin-bottom: 72px;
}
.caroseo-brb-items .multiple-items .slick-slide {
  margin: 0px 10px;
}

/*right*/
.brb-items-right {
  background: #fcfcfc;
  padding: 80px 30px 0px 30px;
}
.bg-brb-items-right {
  background: #fcfcfc;
}
.option-brb-items-right {
  justify-content: space-around;
  margin-bottom: 71px;
  align-items: center;
}
.option-brb-items-right .cart-option-brb-items-right,
.option-brb-items-right .bell-option-brb-items-right,
.option-brb-items-right .user-option-brb-items-right {
  cursor: pointer;
}
.listen-a-lot-brb-items-right .title-listen-a-lot p {
  font-weight: 700;
  font-size: 33px;
  line-height: 40px;
  letter-spacing: 1px;
  color: #262338;
  margin: 30px 0px;
}
.book-topic {
  background: #eff0f7;
  border-radius: 8px;
  padding: 2px 4px;
  margin-bottom: 20px;
}
.right-books-listen-a-lott {
  margin-right: 10px;
  position: relative;
}
.books-listen-a-lot {
  margin-bottom: 20px;
}
.numerical-order-book {
  width: 30px;
  position: absolute;
  top: -12px;
  left: -12px;
}
.book-topic p {
  font-weight: 600;
  font-size: 17px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.75px;
  color: #6e7191;
}
.evaluate-book {
  align-items: center;
}
.evaluate-book > img {
  width: 20px;
}
.evaluate-book>p {
  margin-left: 10px;
}
.left-books-listen-a-lott .title-book-topic a p {
  font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
/* or 133% */

letter-spacing: 1px;

/* Grayscale / Ash */

color: #262338;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.left-books-listen-a-lott .author-book {
  font-weight: 600;
  font-size: 17px;
  line-height: 34px;
  letter-spacing: 0.75px;
  color: #a0a3bd;
  margin-bottom: 10px;
}

.items-suggested-book {
  margin: 0px 10px;
}
.items-suggested-book > .img-items-suggested-book > img {
  width: 100%;
}
.reading-goal .title-reading-goal p {
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 40px;
  letter-spacing: 1px;
  color: #262338;
  margin: 50px 0px;
}
.reading-goal .box-reading-goal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f7f7fc;
  border-radius: 22.2222px;
}
.reading-goal .border-reading-goal {
  border: 8.5px solid rgba(238, 229, 254, 1);
  width: 280px;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border-top-color: rgba(95, 46, 234, 1);
  text-align: center;
  margin: 50px 0px;
}
.reading-goal .border-reading-goal .number-of-pages {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
  text-align: center;
  letter-spacing: 1px;
  color: #262338;
}
.reading-goal .border-reading-goal .text-number-of-pages {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 1px;
  color: #6e7191;
}
.reading-goal .box-reading-goal .button-reading-goal {
  padding: 20px 50px;
  margin-bottom: 50px;
  background: #eee5fe;
  border-radius: 32px;
  border: none;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 34px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.75px;
  color: #3c0594;
}
/*footer*/
footer {
  padding: 63px 150px 0px 150px;
}
.footer {
  width: 90%;
  margin: auto;
  padding: 80px 0px 50px 0px;
}
.about-us {
  margin-right: 0px;
}
.about-us .company-name {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.about-us .company-name .icon-logo-company-name {
  margin-right: 20px;
}
.about-us .company-name .icon-logo-company-name > img {
  width: 80px;
}
.about-us .company-name .title-company-name {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 21px;
  letter-spacing: 0.75px;
  color: #ffffff;
}
.about-us .company-origin {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 0.75px;
  color: #ffffff;
}
.about-us .company-address .icon-company-address {
  width: 50px;
}
.about-us .company-address,
.about-us .corporate-email {
  display: flex;
  align-items: center;
  margin: 20px 0px;
}
.about-us .company-address .icon-company-address,
.about-us .corporate-email .icon-corporate-email {
  margin-right: 20px;
}
.about-us .company-address .text-company-address,
.about-us .corporate-email .text-corporate-email {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 0.75px;
  color: #ffffff;
}
.company-policy {
  margin-top: 30px;
  margin-left: 40px;
}
.company-policy .title-company-policy {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 21px;
  letter-spacing: 0.75px;
  color: #ffffff;
}
.company-policy .items-company-policy {
  font-weight: 500;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 0.75px;
  color: #ffffff;
  margin: 47px 0px;
}
.company-app,
.connection {
  margin-top: 30px;
}
.company-app .title-company-app,
.connection .title-connection,
.connection .title-quick-link {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 21px;
  letter-spacing: 0.75px;
  color: #ffffff;
}
.company-app .app-store,
.company-app .google-play {
  width: 220px;
}
.company-app .app-store {
  margin-top: 41px;
  margin-bottom: 20px;
}
.connection .connection-platform {
  margin-top: 35px;
  margin-bottom: 35px;
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.connection .blog-connection-platform {
  font-weight: 500;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 0.75px;
  color: #ffffff;
  margin: 35px 0px;
}
.connection .individual-connection-platform {
  font-weight: 500;
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 0.75px;
  color: #ffffff;
}
